.header-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
/* HEADER TITLE */
.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    min-width: 1000px;
}
.sub-page-title {
    font-size: 3.5rem;
    font-weight: 900;
}
/* HEADER USER INFO */
.header-user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    padding-right: 20px;
}
.user-full-name {
    font-size: 2rem;
    font-weight: 700;
    text-align: end;
}
.user-role {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: end;
}
/* HEADER USER PROFILE */
.header-user-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-profile-image {
    background-color: #6b0f1a;
    border-radius: 50%;
    height: 80%;
}